<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todo.test.brusd.software.doit.todo_list_for_doit_software">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
